# Godot 4+ specific ignores
# Cache and import data, can be rebuilt automatically
.godot/

# Any files imported from the editor, such as *.scn.import or *.png.import
*.import

# Translations, which are also generated automatically
*.translation

# Mono/C# specific ignores
.mono/
bin/
obj/